@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

body {
	 overflow-x: hidden; /* Hide horizontal scrollbar */
	 margin-left: auto;
    margin-right: auto;
	 /* margin: auto; */
    max-width: 820px;
	 text-align: left;
    padding: 0;
	 background-color: #f1f1f1;
	 font-family: 'Karla', sans-serif;
    color: #333;
	 height:100%;
}

.logo {
	 background-image: url('../img/LR-logo.svg');
	 background-repeat: no-repeat;
    background-position: center center;
	 margin: 5px 30px 5px auto;
	 background-size: 75px 75px;
	 width: 75px;
	 height: 75px;
    white-space: nowrap;
	 overflow: hidden;
	 float: left;
}

ul.navigation-bar{
	 list-style-type: none;
    height: 75px;
}

.navigation-bar li {
	 float: left;
	 margin: 20px 1px 1px 1px;
}
.navigation-bar li.float-right {
	 float: right;
}
.navigation-bar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation-bar li a:hover {
  background-color: #e6e6e6;
}

input {
	 height: 25px;
}

input[type='submit'], button {
	 background-color: #ea4a35;
	 color: #f3dad1;
	 border-radius: 6px;
	 border: none;
	 padding: 6px 8px;
	 margin-top: 8px;
	 margin: 2px 1px 1px 1px;
	 font-size: 14px;
	 text-decoration: none;
	 text-transform: uppercase;
}

input[type='submit']:hover, button:hover {
	 background-color: #c13228;
	 font-size: 14px;
}

div.tool-panel{
    margin: 0px 1px 2px 1px;
    
}
div.tool-panel button{
    float: left
}

div.tool-panel input{
	 margin: 1px 1px 1px 20px;
    float: left;
	 width: 150px;
}

/* Table styles */
table	{width: 800px;}
table.empty {
	 margin: 80px 20px 20px 0px;
	 text-align: center;
	 font-size: 25px;
}

tr.selected {
	 background-color: #e6e6e6;
}
tr:hover{
	 background-color: #e6e6e6;
}
th, td {
	 border-radius: 3px;
	 color: #333;
	 padding: 7px 10px 5px 10px;
	 text-align: left;}
th {
	 background-color: #d7d7d7;
	 font-weight: bold;
	 text-transform: uppercase;}

table.sortable th:hover {
	 /* cursor: pointer; */
}

div.pagination {
    margin: 5px 1px 1px 1px;
	 text-align: right;
}

div.pagination button {
	 padding: 3px 5px;
    font-size: 12px;
}

textarea {
	 width: 95%;
	 margin: 5px 5px 5px 1px;
	 padding: 5px 5px 5px 5px;
	 border-radius: 3px;
}

form {
    max-width: 420px;
}


fieldset {
	 border-radius: 5px;
    margin: 10px 10px 10px 1px;
}

footer {
    text-align: center;
	 font-size: 14px;
	 position:absolute;
	 bottom:0;
	 width:100%;
	 margin: 10px 10px 10px 1px;
	 padding: 10px 1px 1px 1px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin: 10px 10px 10px 1px;
}​

